---
import Box from "../components/Box.astro";
import Layout from "../layouts/Layout.astro";
import Contact from "../components/Contact.astro";

const SITE_NAME = "Sofia's Website";
---

<Layout siteName={SITE_NAME}>
	<Box>
		<Contact />
	</Box>
	<Box
		><h1>Languages</h1>
		<!--Put these as the images/icons of the languages, or name + icon next to them -->
		<ul>Python Java JavaScript C C# C++ HTML CSS Virtual Basic</ul>
	</Box>
	<br />
	<Box> <h1>About Me</h1> </Box>
	<Box><h1>Frameworks</h1></Box>
	<br />
	<Box><h1>Education</h1></Box>
</Layout>
