---
import Box from "../components/Box.astro";
import Layout from "../layouts/Layout.astro";
import Contact from "../components/Contact.astro";
import AboutMe from "../components/AboutMe.astro";
import Languages from "../components/Languages.astro";
import Frameworks from "../components/Frameworks.astro";

const SITE_NAME = "Sofia's Website";
---

<Layout siteName={SITE_NAME}>
	<div class="container">
		<div
			style="display: flex; flex-wrap: wrap; justify-content: left; flex: 2;"
		>
			<Box>
				<Contact />
			</Box>
			<Box>
				<AboutMe />
			</Box>
		</div>
		<div
			style="display: flex; flex-wrap: wrap; justify-content: right; flex: 3;"
		>
			<Box>
				<Languages />
			</Box>
			<Box><Frameworks /></Box>
		</div>
	</div>
</Layout>

<style>
	.container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 16px;
	}

	@media (max-width: 768px) {
		.container {
			flex-direction: column;
		}
	}
</style>
