---
import Button from "../components/Button.astro";
import { Icon } from "astro-icon/components";
---

<div class="about-me">
    <h1>About Me</h1>
    <p>W.I.P</p>

    <div class="about-me-info">
        <Icon name={"humbleicons:location"} /> Ottawa, Ontario, Canada
        <Icon name={"humbleicons:clock"} /> EST
    </div>
</div>
