---

---

<div class="button">
    <slot />
</div>

<style>
    .button {
        display: flex;
        background-color: #dbbfd7;
        border-color: #472b43;
        border-width: 1px;
        border-style: solid;
        padding: 1em;
        margin: 0;
        border-radius: 1.5em;
    }

    .button:hover {
        background-color: #e9c0e0;
        cursor: pointer;
    }
</style>
