---

---

<div class="button">
    <slot />
</div>

<style>
    .button {
        display: inline-block;
        background-color: #dbbfd7;
        border-color: #472b43;
        border-width: 1px;
        border-style: solid;
        padding: 1em;
        margin: 0.5em;
        border-radius: 1.5em;
    }
</style>
