---
import Button from "../components/Button.astro";
import { Icon } from "astro-icon/components";
---

<div class="contact">
    <!--Add image on the side -->
    <figure class="rounded-avatar">
        <img
            class="contact-avatar"
            src="/sakura.jpg"
            alt="Flower avatar"
            loading="eager"
            decoding="async"
        />
    </figure>
    <div class="contact-name">
        <h1>Sofia Alfonso Ortega</h1>
        <!--Add icons and links -->
        <div class="contact-links">
            <a href="mailto:sofiaalfonsoortega@gmail.com" target="_blank">
                <Button>
                    <Icon name={"humbleicons:mail"} />
                    <p>sofiaalfonsoortega@gmail.com</p>
                </Button>
            </a>
            <a href="https://github.com/sofia-ao">
                <Button>
                    <Icon name={"humbleicons:brand-github"} />
                    <p>GitHub</p>
                </Button>
            </a>
            <a
                href="https://www.linkedin.com/in/sofia-alfonso-ortega-757b68332/"
            >
                <Button>
                    <Icon name={"mdi:linkedin"} />
                    <p>LinkedIn</p>
                </Button>
            </a>
        </div>
    </div>
</div>

<style>
    h1 {
        text-align: center;
        font-size: 30px;
        margin-bottom: 0.5em;
    }
    p {
        margin: 0;
        padding-top: 5px;
    }

    a {
        color: black;
        text-decoration: none;
    }

    .rounded-avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
    }

    .rounded-avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    [data-icon] {
        vertical-align: text-top;
        margin-top: -0.1em;
        height: 25px;
        width: 25px;
        padding-right: 5px;
    }

    .contact {
        display: flex;
        gap: 1em;
    }
    .contact-links {
        display: flex;
        gap: 1em;
    }
</style>
