<div class="languages">
    <h1>Languages</h1>
    <!--Put these as the images/icons of the languages, or name + icon next to them -->
    <ul>Python Java JavaScript C C# C++ HTML CSS Visual Basic</ul>
</div>

<style>
    .languages {
    }

    h1 {
        font-size: 25px;
        margin-bottom: 0.5em;
    }
</style>
